.card-size {
	width: 95%;
}

.card-img {
	height: 200px;
	object-fit: "contain";
}

.href {
	text-decoration: none;
}

.href:hover {
	text-decoration: underline;
}

.place-detail-spacing {
	width: 100%;
	border: 1px solid #ebebeb;
	margin: 1rem 0;
}

.star {
	margin-bottom: 3px;
	color: rgb(255, 208, 0);
}

.infoWindow {
}
