.card-img {
	width: 100%;
	height: 165px;
	object-fit: cover;
}

.href {
	text-decoration: none;
}

.href:hover {
	text-decoration: underline;
}

.star {
	margin-bottom: 3px;
	color: rgb(255, 208, 0);
}

.infoWindow {
}
